{% extends 'base.html'%}

{% load static %}

{% block title %}
Lista de Disciplinas
{% endblock title %}

{% block script %}
<script src="{% static 'javascript/filter.js' %}"></script>
{% endblock script %}

{% block content %}
    <div class="container-lista text-center">

        <!-- filtro -->
        <div class="filter col-md-2 flutuante">
            <h4>Filtros</h4>
            <ul id="filter-form" class="filters px-0">
            {{ filtro.as_ul }}
            </ul>
            <button class="btn btn-outline-dark" onclick="filterRedirect()">FILTRAR</button>
        </div>

        <!-- listagem de disciplinas -->
        <div class="lista col-md-9">
            {% for disciplina in lista_disciplinas %}
            <a href="{% url 'subject' disciplina.slug %}">
                <div class = "disciplina-cartao">
                    <div class="cima">
                        <div class="esquerda">
                            <h2>{{ disciplina.nome }}</h2>
                        </div>
                        <div class="direita">
                            <h6>{{ disciplina.nota }}</h6>
                            <h6>{{ disciplina.departamento }}</h6>
                        </div>
                    </div>
                    <ul>
                        {% for professor in disciplina.professor_set.all %}
                        <li>{{ professor.nome }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ disciplina.descricao|slice:":75"|add:"..."}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="pagination">
        <span class="step-links d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <a style="color: #000000; text-decoration: none;" href="?query={{searchq}}&page=1"><i class="fas fa-angle-double-left fa-2x"></i></a>
                <a style="color: #000000; text-decoration: none;" href="?query={{searchq}}&page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left fa-2x"></i></a>
            {% endif %}
    
            <span class="current mx-5 pt-1">
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a style="color: #000000; text-decoration: none;" href="?query={{searchq}}&page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right fa-2x"></i></a>
                <a style="color: #000000; text-decoration: none;" href="?query={{searchq}}&page={{ page_obj.paginator.num_pages }}"><i class="fas fa-angle-double-right fa-2x"></i></a>
            {% endif %}
        </span>
    </div>
{% endblock %}
