{% extends 'base.html' %} 

{% block title %}
Meu Perfil
{% endblock title %}

{% block content %}

<style>

.grande {
    background-color: #212529;
    border-radius: 30px 0px 30px 0px;
    height: 50vh;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 2%;
}

.grande img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-bottom: 2%;
}

.user h4 {
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    width: fit-content;
    padding: 1%;
}

.disciplinas_profile {
    background-color: #212529;
    border-radius: 30px 0px 30px 0px;
    color: #f2f2f2;
    padding: 2%;
    
}

.disciplinas_profile h4 {
    text-align: center;

}

.logout {
    cursor: pointer;
}

.disciplinas_borda {
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    padding: 1%;

}

.disciplinas_borda a {
    color: #f2f2f2;
}

.disciplinas_borda a:hover{
    color: #31cadb;
}

.container{
    margin-top:15vh;
}

</style>

<div class="container">

<div class="row row-card my-5 justify-content-center">
    <div class='col-md-6 grande d-flex flex-column justify-content-between'>
        <div class="d-flex flex-row justify-content-evenly align-items-center">
            <img src="/static/default.png" alt="Foto de perfil" class="photo_perfil">
            <div class="user-data disciplinas_borda">
                <div class="user">
                    <p>{{aluno.nome}} | {{aluno.usuario}}</p>
                </div>
                <div class="user">
                    <p> Escola Politécnica | {{aluno.departamento}}</p>
                </div>
                <div class="user">
                    <p> Ano de ingresso: {{aluno.ano_de_ingresso}}</p>
                </div>
            </div>
        </div>
        <div class="my-4 disciplinas_borda">

            {% if aluno.avaliacao_set %}
                <p>Este usuário avaliou {{ aluno.avaliacao_set.count }} disciplinas</p>
            {% else %}
                <p>Este usuário ainda não realizou avaliações</p>
            {% endif %}

            {% if aluno.avaliacao_set %}
                <p class="mb-0">Este usuário comentou {{ aluno.comentario_set.count }} vezes</p>
            {% else %}
                <p class="mb-0">Este usuário ainda não realizou comentários</p>
            {% endif %}
        </div>
    </div>

    {% if aluno.usuario.username == request.user.username %}

    <div class="disciplinas_profile col-md-3 ms-md-3 d-flex flex-column justify-content-evenly">
        <div class="disciplinas_borda">
            <h4> Minhas disciplinas: </h4>
            <ul class="p-0"> 
                {% if aluno.disciplina.all %}
                {% for disciplina in aluno.disciplina.all %}
                <li> ⭐ <a href="{% url 'subject' disciplina.slug %}">  {{disciplina}} </a></li>

                {% endfor %}
                {% else %}
                <p class="text-center">Você ainda não tem nenhuma disciplina favoritada</p>
                {% endif %}
            </ul>
        </div>
        <a href="{% url 'logout' %}" class="logout mt-2 btn btn-outline-light">Fazer logout</a>

    </div>


    {% else %}

    {% endif %}
</div>
</div>
{% endblock content %}