{% extends 'base.html' %} 

{% block title %}
Meu Perfil
{% endblock title %}

{% block content %}

<style>

.grande {
    background-color: #212529;
    border-radius: 30px 0px 0px 0px;
    margin-right: 20%;
    margin-left: 20%;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 2%;
    margin-top: 3%;
    
}

.grande img {
    width: 15%;
    height: 15%;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.user {
    display: flex;
    justify-content: center;
}

.user h4 {
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    width: fit-content;
    padding: 1%;
}

.disciplinas_profile {
    background-color: #212529;
    border-radius: 0px 0px 30px 0px;
    margin-right: 20%;
    margin-left: 20%;
    color: #f2f2f2;
    padding: 2%;
    
}

.disciplinas_profile h4 {
    text-align: center;

}

.disciplinas_profile ul {
    margin-left: 15%;
}

.disciplinas_borda {
    border: solid 2px #f2f2f2;
    border-radius: 10px;
    padding: 1%;
    margin-right: 10%;
    margin-left: 10%;
}

.disciplinas_borda a {
    color: #f2f2f2;
}

.disciplinas_borda a:hover{
    color: #31cadb;
}

</style>



<div class='grande'> 
    <img src="/static/default.png" alt="Foto de perfil" class="photo_perfil">
    <div class="user">
        <h4>{{aluno.nome}} | {{aluno.usuario}}</h4>
    </div>
    <div class="user">
        <h4> Escola Politécnica | {{aluno.departamento}}</h4>
    </div>
    <div class="user">
        <h4> Ano de ingresso: {{aluno.ano_de_ingresso}}</h4>
    </div>

</div>

<div class="disciplinas_profile">
    <div class="disciplinas_borda">
        <h4> Minhas disciplinas: </h4>
        <ul> 
            {% for disciplina in aluno.disciplina.all %}
            <li> ⭐ <a href="{% url 'subject' disciplina.slug %}">  {{disciplina}} </a></li>

            {% endfor %}
        </ul>
    </div>
    


    

</div>


<a href="{% url 'logout' %}">Fazer logout</a>

{% endblock content %}